.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position:absolute;
  left:45vw;
  right:45vw;
  bottom:0;
  padding-bottom:20px;
  color:rgb(126, 123, 123);
}

.about {
  background-color: hsl(87, 95%, 92%);
  /* Full height */

}


.home {
  background-image: url("../public/rocket.png");
  background-color: #FFEDDB;
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: 15% 50%;
  background-repeat: no-repeat;
  background-size: 60vw auto;
}

.journal {
  /* Full height */
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.sentiment{
  background-image: url("../public/abstract.png");
  /* Full height */
  width: 100vw;
  height: 100%;

}
.abstract{
  /* Full height */
  /* Center and scale the image nicely */
  background-position: 50% -1000%;
  background-repeat: no-repeat;
  background-size:contain;

}